.header {
  display: flex;
  justify-content: center;
}

.scoreboard {
  display: flex;
  justify-content: center;
}

p {
  margin: 5px;
}

.tic-tac-toe-board {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.tic-tac-toe-box {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
